<div class="container-fluid">
    <div class="container-fluid center">
        <h1 >{{groceryCategory}}</h1>
    </div>
    <div class="icon" (click)="onDisplay()">
        <i class="fa fa-solid fa-filter" ></i>
    </div>
    <div class="options" [style.display]="isChanged ? 'block' : 'none'">
        <p style="text-align: center;">Filter option</p>
        <div class="option" *ngFor="let i of products">
            <ul>
                <li><input type="checkbox" name="brand" id="" value="Amul" >{{i.store}}</li>
            </ul>
        </div>

    </div>
    <div class="container">
        <div class="card " *ngFor="let product of filteredProducts">
            <img src="{{product.imageUrl}}" class="card-img-top image" alt="">
            <div class="card-body">
                <span class="card-text category">{{product.category}}</span>
                <h4>{{product.grocery_name}}</h4>
                <span>☆☆☆☆☆(4)</span>
                <span class="card-text storeName">By {{product.store}}</span>
                <div>
                    <span class="discountPrice card-text">{{product.discountPrice | currency}}</span>
                    <span class="price card-text">{{product.price | currency}}</span>

                    <button class="btn  addToCart "><i class="fa fa-shopping-cart "></i>Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
