.center {
  text-align: center;
  background-image: url("../../../../assets/categoryFruits.png");
  padding: 70px 0px;
}/*
.img-container {
  display: flex;
  width: 414px;
  height: 372px;
  border: 1px solid gray;
}
.img {
  margin-top: auto;
  margin-bottom: auto;
  width: 330px;
  height: 200px;
}
.price {
  font-size: 24px;
}
.productName {
  font-size: 24px;
}
.fa-heart {
  background-color: white;
  color: gray;
  width: 23px;
  height: 19px;
  padding-top: 10px;
}
.btn {
  width: 364px;
  height: 67px;
  background-color: #53b175;
  color: white;
  border-radius: 19px;
  margin-top: 4rem;
}
.kg {
  font-size: 16px;
  color: #7c7c7c;
  font-weight: 200;
}
.review {
  font-size: 16px;
}
.addItems {
  margin-top: 5rem;
}
.detailPara {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-top: 1rem;
  color:#7c7c7c;
} */

.btn {
  width: 120px;
  height: 40px;
  background-color: #53b175;
  color: white;
  border-radius: 0;
  /* margin-top: 4rem; */
  margin-left: 1rem;
}