.container{
    justify-content: space-evenly;
}
.rightBorder{
    border-right: none;
    border-radius: 0;
}
.leftBorder{
    border-left: none;
    border-radius: 0;
}
.cart-details{
    width: 102px;
    height: 33px;
}
.cart-text{
    font-size: 12px;
}
.cart-container{
    width: 43px;
    height: 33px;
    
}
.font-size-cart{
    font-size: 12px;
}
.border-none{
    border: none;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.categories-btn{
    margin-left: 50px;
    border-radius: 0;
}
.fa-phone{
    margin-left: 900px;
    color: #3BB77E
}
.text-24{
    margin-left: 20px;
}
.searchBtn{
    height: 33px;
    margin-left: -20px;
    margin-bottom:10px
}
