.headings{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    margin: 13px;
    color: black;
}
.box{
margin-left: 25PX;
height: 300px;
border: 1px solid gray;
width: 228px;
text-align: center;
}
.Items-container{
    display: flex;
    flex-direction: row;

}
.price{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.514);
}
.discount-price{
    color:#3BB77E;
}
.carousel-item{
    display: block;
}
.carousel-inner{
    display: flex;
}


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 15rem;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  border-radius: 0;
}
.price{
  text-decoration: line-through;
  font-weight: 100;
  color:#ADADAD;

}
.discountPrice{
  color:#3BB77E;
  font-weight: 500;
}
.category{
  font-weight: 100;
  color:#ADADAD;
  
}
.addToCart{
  margin-left: 35px;
  width: 90px;
  height: 34px;
  border-radius: 0;
background-color: #DEF9EC;;
color:#3BB77E;
font-size: 14px
;
}
.image{
  width: 224px;
  height: 144px;
}
.storeName{
  font-size: 12px;
}
.card-body{
  display: flex;
  flex-direction: column;
}
