<div class="container-fluid">
    <div class="background">
        <img src="../../assets/categoryFruits.png" alt="" width="100%">
    </div>
    <div class="d-flex justify-content-center">
        <img src="../../assets/orderPlaced.png" alt="" class="successful " width="270" height="400">
    </div>
    <!-- <img src="../../assets/Star 1.png" alt="" class="Star "width="75" height="75"> -->
    <div class="d-flex justify-content-center mt-5"><span>Your Order has been <br>
            placed successfully.</span></div>
    <a routerLink="/home"><button class="btn btn-primary" >Go To Home</button></a>
</div>