<div class="container headings">
    <div>
        <h4>Explore Categories</h4>
    </div>
    <div>
        <a [routerLink]="['./catalogue/categories',i.slug]" *ngFor="let i of categoriesName">{{i.title}}</a>
    </div>
</div>
<div class="swiper-container" style="overflow: hidden;">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let category of categories" >
            <div class="Items-container">
                <a [routerLink]="['./catalogue/categories',category.slug]">
                <div class="box" >
                    <h3>{{category.title}}</h3>
                    <span>{{category.products}} Items</span>
                </div></a>
            </div>
        </div>

        <!-- add more product cards here -->
    </div>
    <div class="swiper-pagination"></div>
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
</div>


<!-- <div class="Items-container">
    <div class="box" *ngFor="let category of categories">
        <img src="../assets/peach.png" alt="">
        <h5>peach</h5>
        <span>20 Items</span>
    </div>
</div> -->