<!-- <nav class="navbar ">
  <div class="container ">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.png" alt="Bootstrap" width="39" height="39">
      <img src="../assets/cybercomcreation.png" alt="Bootstrap" width="196" height="44">
    </a>

    <form class="d-flex search" role="search">
      <select class="form-select rightBorder" aria-label="Default select example">
        <option selected>All Categories</option>
        <option value="option1" *ngFor="let i of uniqueCategories">{{i.category}}</option>
       
      </select>

      <input class="form-control me-2 leftBorder" type="search" placeholder="Search" aria-label="Search">
      <button class="btn searchBtn" type="submit"><img src="../assets/Search-btn.png" alt="" height="32px"></button>

    </form>

    <div class="cart">
      <div class="left-cart">
        <img src="../assets/li_shopping-cart.png" alt=""> -->
<!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">1</span> -->
<!-- </div>
      <div><select name="myCart" id="myCart" class="border-none">
        <option value="myCart" selected class="border-none">My cart</option>
      </select><br>
      <p class="total">$21</p></div>
    </div>
    <div class="name">
      <span>Pritey Mehta</span>
    </div>
  </div>
</nav>
<hr style="color: #3BB77E">
<nav>
  <div class="categories-btn">
    <a routerLink="/categories/All"><button class="btn btn-success categories-btn">Browse all categories</button></a>
    <i class="fa fa-phone" aria-hidden="true">1233-7777</i>
    <span class="text-24">24/7 support center</span>
  
  </div>
</nav> -->


<nav class="main">
  <div class="container d-flex">
    <div class="logoPart">
      <a class="navbar-brand" href="">
        <img src="../assets/logo.png" alt="Bootstrap" width="32" height="35">
        <img src="../assets/cybercomcreation.png" alt="Bootstrap" width="196" height="44">
      </a>
    </div>
    <div class="searchPart d-flex ">
      <select name="categories"
        class="form-select border border-end-0 rounded-0 categoriesPart">
        <option value="">Categories</option>
        <option value="option1" *ngFor="let i of categories" value={{i.title}}>{{i.title}}</option>
      </select>
      <form (submit)="onSubmit($event)" class="d-flex">
        <input [(ngModel)]="searchItem" class="form-control border border-start-0 rounded-0 search-input" type="text"
          name="search" id="" placeholder="search for items">
        <button class="btn searchBtn "><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="cartPart d-flex" >
      <a routerLink="/cart/myCart" class="cartLogo">
        <div>
          <i class="fa fa-shopping-cart cart" style="width: 24px;height: 24px;"></i>
          <span class="cartNumber">{{itemCount}}</span>
        </div>
      </a>
        <div class="d-flex flex-column">
          <select name="" id="" style="font-size: 12px;">
            <option value="myCart" selected style="font-size: 12px;">My cart</option>
          </select>
          <span style="font-size: 12px; color: #3BB77E;">{{cartTotal | currency}}</span>
        </div>
      
    </div>
    <div>
    <div class="btn" routerLink="login" *ngIf="!token">Login</div>
    <div class="btn" routerLink="signup" *ngIf="!token">SignUp</div>
  </div>

    <div class="userPart" *ngIf="token" >
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{userDetails?.username}}  
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="user-profile/profile">profile</a></li>
          <li><a class="dropdown-item" routerLink="user-profile/change-password">change Password</a></li>
          <li ><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
      <!-- <a routerLink="user-profile"><span>Pritey Mehta </span></a>
      <i class="fa-sharp fa-solid fa-angle-down"></i> -->
    </div>
  </div>
  <div class="secondRow d-flex container mt-3 mb-3">
    <div class="leftPart "> <button
          class="btn btn-success categories-btn rounded-0" (click)="allCategories()">Browse all categories</button>
    </div>
    <div class="rightPart d-flex ">
      <i class="fa fa-phone"></i>
      <span>1233-7777</span>
      <span class="text">24/7 support center</span>
    </div>
  </div>
</nav>