<ul>
    <a routerLink="profile" style="cursor:pointer ">
        <li>Profile</li>
    </a>
    <a routerLink="orders" style="cursor:pointer ">
        <li>Orders</li>
    </a>
    <a routerLink="manage-addresses" style="cursor:pointer ">
        <li>Manage Addresses</li>
    </a>
    <a routerLink="change-password" style="cursor:pointer ">
        <li>Change Password</li>
    </a>
    <a>
        <li (click)="logout()" style="cursor:pointer ">Logout</li>
    </a>
</ul>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>