<!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->
<p-toast></p-toast>
<div class="container-fluid" *ngIf="products">
    
    <div class="container-fluid center">
        <h1>{{groceryCategorySlug}}</h1>
    </div>
    <div class="icon" (click)="onDisplay()">
        <i class="fa fa-solid fa-filter"></i>
    </div>
    <div class="options" [style.display]="isClicked ? 'block' : 'none'">
        <p style="text-align: center;">Filter option</p>
        <div class="option" >
            <ul>
                <li *ngFor="let store of stores"><input  type="checkbox" name="brand" (change)="onChecked($event)" [value]="store">{{store}}</li>
            </ul>
        </div>

    </div>
    
    <div class="container">
        <ng-container *ngIf="products && products.length>0">
        <div class="card " *ngFor="let product of products" >
            <div (click)="productDetails(product)">  
            <img src="../../../../assets/Almonds.jpg" class="card-img-top image" alt="category-1">
            </div>
            <div class="card-body">
                <!-- <span class="card-text category">{{product.category_id}}</span> -->
                <h4>{{product.title}}</h4>
                <span>☆☆☆☆☆(4)</span>
                <span class="card-text storeName">{{product.short_description}}</span>
                <div>
                    <span class="discountPrice card-text">{{product.amount | currency:'INR'}}</span>
                    <span class="price card-text">{{product.amount | currency:'INR'}}</span>
                    <button class="btn  addToCart" (click)="addToCart(product)"><i class="fa fa-shopping-cart "></i>Add</button>
                </div>
            </div>
        </div>
    </ng-container>
        <div *ngIf="!(products && products.length>0)" class="row offset-10 col-10">
            <h1 >Products not Found</h1>
        </div>
        <ngx-spinner type="ball-clip-rotate-multiple">
            <img src="../assets/cart-spinner.gif " alt="" srcset="" width="100px" height="100px">
          </ngx-spinner>
    </div>
</div>