<div class="container main-container">

    <div class="column">
        <h4>Top sells</h4>
        <div class="box" *ngFor="let items of products">
            <div class="image"><img src="../assets/peach.png" alt=""></div>
            <div class="description">
                <h5>{{items.name}}</h5>
                <span>reviews here</span>
                <div class="price-section">
                    <span class="discount-price">{{items.discountedPrice}}</span>

                    <span class="price">{{items.price}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h4>Top sells</h4>
        <div class="box" *ngFor="let items of products">
            <div class="image"><img src="../assets/peach.png" alt=""></div>
            <div class="description">
                <h5>Orange 1kg</h5>
                <span>reviews here</span>
                <div class="price-section">
                    <span class="discount-price">$2</span>

                    <span class="price">$3.99</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h4>Top sells</h4>
        <div class="box" *ngFor="let items of products">
            <div class="image"><img src="../assets/peach.png" alt=""></div>
            <div class="description">
                <h5>Orange 1kg</h5>
                <span>reviews here</span>
                <div class="price-section">
                    <span class="discount-price">$2</span>

                    <span class="price">$3.99</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h4>Top sells</h4>
        <div class="box" *ngFor="let items of products">
            <div class="image"><img src="../assets/peach.png" alt=""></div>
            <div class="description">
                <h5>Orange 1kg</h5>
                <span>reviews here</span>
                <div class="price-section">
                    <span class="discount-price">$2</span>

                    <span class="price">$3.99</span>
                </div>
            </div>
        </div>
    </div>
</div>