<div class="container-fluid">

    <div class="container d-flex mt-5">
        <div class="container">

            <div class="d-flex justify-content-between row">
                <div class="col-md-8 d-flex flex-column ms-5 mt-4">
                    <label for="current-password">Current Password</label>
                    <input type="password" name="" id="">
                </div>
                <div class="offset-md-8 col-md-1 ms-5 mt-4">
                    <button class="btn">Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 d-flex flex-column ms-5 mt-4">
                    <label for="new-password">New Password</label>
                    <input type="password" name="" id="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 d-flex flex-column ms-5 mt-4">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="" id="">
                </div>
            </div>

        </div>
    </div>
</div>