<div class="container-fluid">

    <div class="container d-flex mt-5">
        <div class="container">
            <form [formGroup]="passwordForm">
                <div class="d-flex justify-content-between row">
                    <div class="col-md-8 d-flex flex-column ms-5 mt-4">
                        <label for="current-password">Current Password</label>
                        <input type="password" name="" id="" formControlName="currentPassword">
                        <small class="text-danger"
                            *ngIf="currentPassword?.invalid && (currentPassword?.touched || currentPassword?.dirty)">
                            Current Password must be required
                        </small>
                    </div>
                    <div class=" offset-md-8 col-md-1 ms-5 mt-4">
                        <button class="btn">Save</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 d-flex flex-column ms-5 mt-4">
                        <label for="new-password">New Password</label>
                        <input type="password" name="" id="" formControlName="newPassword">
                        <div *ngIf="newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)">
                            <small  class="text-danger" *ngIf="newPassword?.errors?.['required']">New password must be required</small>
                            <small  class="text-danger" *ngIf="newPassword?.errors?.['minlength']">New password must be 8 character
                                long</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 d-flex flex-column ms-5 mt-4">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" name="" id="" formControlName="confirmPassword">
                        <small class="text-danger" *ngIf="confirmPassword?.errors?.['mismatch']">Passwords are not same</small>
            
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>