
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<div class="container-fluid">
    <div class="container mt-5">
      <div class="d-flex flex-wrap justify-content-start align-items-center">
        <div class="card m-4" style="width: 18rem; " *ngFor="let address of customerAddresses">
          <div class="card-body" style="width: 18rem;height: 16rem;">
            <h5 class="card-title">
              Default Address:{{address.tag}}
            </h5>
            <p class="card-text">
              {{userName}}
            </p>
            <p class="card-text">
              {{address.address_line_1}},{{address.address_line_2}},{{address.area}},
              {{address.landmark}},{{address.city}},{{address.state}},{{address.country}}{{-address.postal_code}},
            </p>
            <a href="" class="btn border">Deliver here</a>
            <i class="fas fa-regular fa-trash border mx-5 " role="button" (click)="confirm2(address)"></i>
            <i class="fa fa-light fa-pen border " role="button" (click)="updateAddress(address)"></i>
          </div>
        </div>
      </div>
      <button class="btn btn-up" (click)="addAddress()">Add Address</button>
    </div>
  </div>
  