<div class="container-fluid">

    <div class="container d-flex mt-5">
        <div class="class-container border d-flex ms-5">
            <div class="card m-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Default Address:Office
                    </h5>
                    <p class="card-text">
                        Pritee Mehta
                    </p>
                    <p class="card-text">
                        B-305,The first,near ITC Narmada,Vastrapur,the first,behind
                        keshavbaug,ahmedabad,gandhinagar-380015,ph-1234567890
                    </p>
                    <a href="" class="btn border">Deliver here</a>
                    <i class="fas fa-regular fa-trash border mx-5"></i>
                    <i class="fa fa-light fa-pen border "></i>
                </div>

            </div>
            <div class="card m-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Home
                    </h5>
                    <p class="card-text">
                        Pritee Mehta
                    </p>
                    <p class="card-text">
                        B-305,The first,near ITC Narmada,Vastrapur,the first,behind
                        keshavbaug,ahmedabad,gandhinagar-380015,ph-1234567890
                    </p>
                    <a href="" class="btn border">Deliver here</a>
                    <i class="fas fa-regular fa-trash border mx-5"></i>
                    <i class="fa fa-light fa-pen border "></i>
                </div>

            </div>
            <div class="card m-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Home
                    </h5>
                    <p class="card-text">
                        Pritee Mehta
                    </p>
                    <p class="card-text">
                        B-305,The first,near ITC Narmada,Vastrapur,the first,behind
                        keshavbaug,ahmedabad,gandhinagar-380015,ph-1234567890
                    </p>
                    <a href="" class="btn border">Deliver here</a>
                    <i class="fas fa-regular fa-trash border mx-5"></i>
                    <i class="fa fa-light fa-pen border "></i>
                </div>

            </div>
        </div>
    </div>
</div>