<hr class="my-5 container">
<div class="container d-flex justify-content-between mt-5">
    <div>
        <img src="../assets/logo.png" alt="">
        <img src="../assets/cybercomcreation.png" alt="">
    </div>
    <div >
        <i class="fas fa-map-marker" aria-hidden="true"></i>
            <span class="font"> Address:1762 school house road</span> 
    </div>
    <div><i class="fa fa-phone" aria-hidden="true"></i>
        <span class="font"> call us:1233-777</span>
    </div>
    <div>
        <i class="fas fa-envelope" aria-hidden="true"></i>
        <span class="font"> Email:abc@gmail.com</span>
    </div> 
</div>
<hr class="my-5 container">
<div class="container copyright">
    <div class="container-content">
        <span>&copy; 2023,All rights reserved</span>
    </div>
    <div class="social-links">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
    </div>
</div>

<!-- <div class="container footer">

    <ul>
        <li> <img src="../assets/logo.png" alt="">
            <img src="../assets/cybercomcreation.png" alt="">
        </li>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i>
            <span> Address:1762 school house road</span>
        </li>
        <li>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span> call us:1233-777</span>
        </li>
        <li>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span> Email:abc@gmail.com</span>
        </li>
        <li>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span> work hours:8.00-20.00,sunday - thursday</span>
        </li>
    </ul>

</div>
<hr>
<div class="container copyright">
    <div class="container-content">
        <span>&copy; 2023,All rights reserved</span>
    </div>
    <div class="social-links">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
    </div>
</div> -->