.column{
    width: 207px;
    height: 335px;
    margin-top: 50px;
}
.box{
    display: flex;
    width: 207px;
    height: 90px;
}
.price{
    text-decoration: line-through;
    margin-left: 5px;
    font-weight: 100;
    color: #ADADAD;

}
.discount-price{
    color: #3BB77E;
    font-weight: 500;

}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}