<div class="container box">

    <img src="../assets/dollar.png" alt="">
    <div class="box1">
        <h4>Best Price & Deals</h4>
        <span>Don't miss our daily amazing deals and prices</span>
    </div>
    <img src="../assets/refundable.png" alt="">
    <div class="box2">
        <h4>Refundable</h4>
        <span>Don't miss our daily amazing deals and prices</span>
    </div>
    <img src="../assets/freedelivery.png" alt="">
    <div class="box3">
        <h4>Free Delivery</h4>
        <span>Don't miss our daily amazing deals and prices</span>
    </div>
</div>

